---
import LinksComponent from "@components/LinksComponent.astro";
import VideoComponent from "@components/VideoComponent.astro";

interface Props {
  class?: string;
  srcImgBackground?: string;
  mainTitle?: string;
  linkAgenda?: string;
  titleAgenda?: string;
  btnNameOrden?: string;
  linkOrdenAcctions?: string | any;
  btnNameInformations?: string;
  linkNameInformations?: string;
}

const {
  class: className,
  srcImgBackground,
  mainTitle,
  linkAgenda,
  titleAgenda,
  btnNameOrden,
  linkOrdenAcctions,
  btnNameInformations,
  linkNameInformations,
} = Astro.props as Props;
---

<div class=`${className} relative`>
  <VideoComponent
    class="absolute w-full h-auto bg-cover bg-center bg-no-repeat overflow-hidden rounded-2xl"
    urlVideo=""
  />
  <div
    class="absolute h-screen text-center pt-10 top-0 right-0 left-0 bottom-0"
  >
    <div class="m-1">
      <h1 class="text-white font-semibold text-6xl">{mainTitle ?? ""}</h1>
      <div class="pt-6">
        <LinksComponent
          hrefLink={linkAgenda ?? ""}
          class="text-white hover:font-semibold text-sm"
          title={titleAgenda ?? ""}
          isTarget={true}
        />
      </div>
      <div
        class="h-screen flex justify-center place-content-center gap-4 pt-[35rem]"
      >
        <LinksComponent
          hrefLink={linkOrdenAcctions ?? ""}
          class="bg-blue-700 rounded-md text-white text-sm w-full lg:w-72 h-12 text-center p-3 hover:contrast-125"
          title={btnNameOrden ?? ""}
          isTarget={true}
        />
      </div>
    </div>
  </div>
</div>
