---

import SectionComponent from "@components/Sections/SectionComponent.astro";
import SectionContent from "@components/Sections/SectionContent.astro";
import SectionContentVideo from "@components/Sections/SectionContentVideo.astro";

import SectionIntroContent from "@components/Sections/SectionIntroContent.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout
  title="Tesla | Home"
  descriptions='content="Tesla está acelerando la transición del mundo hacia la energía sustentable con autos eléctricos, soluciones integradas de energía solar y renovables para el hogar y empresas."'
>
  <main class="">
    <SectionComponent id="web-robot" class="h-auto max-w-full">
       <SectionIntroContent srcImgBackground={'/image/Homepage-We-Robot-Hero-Desktop.png'} />
    </SectionComponent>

    <SectionComponent id="modelo-3" class="p-4 lg:m-16 mx-auto h-auto">
      <SectionContent
        mainTitle="Modelo 3"
        srcImgBackground={'/image/Homepage-Model-3-Desktop-US.png'}
        titleAgenda="Agenda una prueba de Manejo"
        linkAgenda="/"
        btnNameOrden="Ordenar"
        btnNameInformations="Más información"
        linkNameInformations="/"
        class="rounded-lg" />
    </SectionComponent>

    <SectionComponent id="modelo-S" class="p-4 lg:m-16 mx-auto h-auto">
      <SectionContent
        mainTitle="Modelo S"
        srcImgBackground={'/image/Homepage-Model-S-Desktop-US.png'}
        titleAgenda="Agenda una prueba de Manejo"
        linkAgenda="/"
        btnNameOrden="Ordenar"
        btnNameInformations="Más información"
        linkNameInformations="/"
        class="rounded-lg" />
    </SectionComponent>

    <SectionComponent id="modelo-S" class="p-4 lg:m-16 mx-auto h-auto">
      <SectionContent
        mainTitle="Modelo Y"
        srcImgBackground={'/image/Homepage-Model-Y-Desktop-Global-v2.png'}
        titleAgenda="Agenda una prueba de Manejo"
        linkAgenda="/"
        btnNameOrden="Ordenar"
        btnNameInformations="Más información"
        linkNameInformations="/"
        class="rounded-lg" />
    </SectionComponent>

    <SectionComponent id="modelo-S" class="p-4 lg:m-16 mx-auto ">
      <SectionContentVideo
      mainTitle="Vive la experiencia Tesla"
      srcImgBackground={'/image/Homepage-Model-Y-Desktop-Global-v2.png'}
      titleAgenda="Agenda una prueba de Manejo"
      linkAgenda="/"
      btnNameOrden="Prueba de Manejo"
      btnNameInformations="Más información"
      linkNameInformations="/"
      class="rounded-lg" />
    </SectionComponent>

  </main>
</Layout>

<style></style>
