---
//import LinksComponent from "./LinksComponent.astro";
let f = new Date()
let yeardDate = f.getFullYear()
---
<div class="bg-white p-8 w-full">
    <div class="grid justify-center place-content-center">
        <ul class="flex gap-4 text-sm">
            <li class="text-gray-500 text-sm">Tesla © {yeardDate}</li>
            <li class="text-gray-500 text-sm">Privacidad y Legal</li>
            <li class="text-gray-500 text-sm">Contacto</li>
            <li class="text-gray-500 text-sm">Ubicación</li>
        </ul>
    </div>
</div>

